body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 3rem;
  color: #2b2b2bc8;
}

.player-choices {
  display: flex;
}

button {
  font-size: 1.5rem;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: gray;
  color: rgb(230, 230, 230);
  cursor: pointer;
}
button:hover {
  background-color: hsla(0, 0%, 50%, 0.67);
  color: rgb(98, 98, 98);
}

.choices {
  text-align: center;
  margin-top: 15px;
}
.choose {
  font-size: 2rem;
}

#result {
  font-size: 4rem;
  text-align: center;
  margin-top: 50px;
}

.red {
  color: red;
}
.green {
  color: green;
}
